.footer {
  background: #222222;
  padding: 82px 0;

  &__info {
    @include flex-pos($fd: column, $g: 15px);
  }

  &__link {
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.32px;
    color: #fff;
    margin-bottom: 46px;
  }

  &__line {
    @include flex-pos();
  }

  &__desc {
    position: relative;
    font-size: 14px;
    line-height: 1;
    letter-spacing: -0.28px;
    color: #a5a5a5;
    padding-right: 15px;
    margin-right: 14px;

    &:last-of-type {
      &::before {
        display: none;
      }
    }

    &::before {
      @include elm-create();
      @include pos-y-center();
      right: 0;
      width: 1px;
      height: 10px;
      background-color: #a5a5a5;
    }
  }
}
