.header {
  background: #4285f4;
  height: 60px;

  .container {
    @include flex-pos($jc: space-between, $ai: center);
    position: relative;
    max-width: 100%;
  }

  &__home {
    width: 30px;
    height: 30px;

    .icon {
      background-image: url(../icons/icon-home.png);
    }
  }

  &__title {
    @include pos-center();
    @include flex-pos($g: 6px, $ai: center);
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    font-weight: 700;

    .icon {
      width: 20px;
      height: 23px;
      background-image: url(../logos/logo-s.png);
    }
  }

  &__actions {
    @include flex-pos($ai: center, $g: 30px);
  }

  &__user {
    position: relative;
  }

  &__btn {
    &--user,
    &--point {
      @include flex-pos($ai: center, $g: 5px);
      font-size: 14px;
      letter-spacing: -0.28px;
      font-weight: 700;
      color: #fff;

      .icon {
        width: 20px;
        height: 20px;
      }
    }

    &--user {
      .icon {
        background-image: url(../icons/icon-user-gray.png);
      }
    }

    &--point {
      .icon {
        background-image: url(../icons/icon-point.png);
      }
    }
  }
}
