@use '../common' as *;

// new-page
.news-page {
  background-color: #f4f6f8;

  .container {
    @include flex-pos($g: 30px);
    padding: 31px 30px 130px;
  }

  &__main,
  &__sidebar {
    @include flex-pos($fd: column, $g: 30px);
  }

  &__main {
    max-width: 940px;
    min-width: 0;
    flex: 3;
  }

  &__sidebar {
    flex-shrink: 0;
    max-width: 335px;
    flex: 1;

    // headline-list
    .headline-list {
      padding: 30px 21px;

      &__items {
        @include flex-pos($fd: column, $g: 18px);
      }

      &__item {
        max-width: 293px;
      }

      &__thumb {
        aspect-ratio: 293 / 186;
        margin-bottom: 27px;
      }

      &__title {
        @include text-cut-multiline();
        line-height: 27px;
      }
    }
  }

  &__search-field {
    @include flex-pos($jc: space-between, $ai: center, $g: 40px);
    padding: 15px 40px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #4285f4;
    background-color: #fff;
  }

  &__search-input-wrap {
    width: 100%;
  }

  &__search-input {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.4px;
    width: 100%;
  }

  &__btn {
    .icon {
      &--search {
        width: 30px;
        height: 30px;
        background-image: url(../../icons/icon-glass-gray.png);
      }
    }
  }
}

.hero-news,
.headline-list,
.news-grid,
.popular-news,
.search-list {
  border-radius: 10px;
  background-color: #fff;

  &__link {
    display: block;
    cursor: pointer;

    &:hover {
      .hero-news__title,
      .headline-list__title,
      .news-grid__title,
      .popular-news__title,
      .search-list__title {
        text-decoration: underline;
      }
    }
  }
}

// hero-news
.hero-news {
  padding: 31px 30px 50px;
  text-align: center;

  &__thumb {
    aspect-ratio: 940 / 319;
    margin-bottom: 50px;
  }

  &__title {
    @include text-cut-multiline();
    font-size: 52px;
    line-height: 66px;
    letter-spacing: -1.04px;
    font-weight: 700;
    max-width: 600px;
    margin: 0 auto 20px;
  }

  &__desc {
    @include text-cut-one();
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.48px;
    color: #999;
  }
}

// headline-list
.headline-list {
  display: grid;
  grid-template-columns: 315px minmax(0, 1fr);
  gap: 30px;
  padding: 31px 30px 42px;

  &__left {
    .headline-list__items {
      @include flex-pos($fd: column, $g: 48px);
    }

    .headline-list__item {
      max-width: 315px;
    }

    .headline-list__thumb {
      aspect-ratio: 315 / 200;
      margin-bottom: 17px;
    }

    .headline-list__title {
      @include text-cut-multiline();
      line-height: 27px;
    }
  }

  &__right {
    .headline-list__items {
      padding-top: 13px;
      width: 100%;
    }

    .headline-list__item {
      padding-top: 22px;
      padding-bottom: 22px;
      border-bottom: 1px solid #c9c9c9;

      &:first-of-type {
        padding-top: 0;
      }

      &:last-of-type {
        padding-bottom: 0;
        border: none;
      }
    }

    .headline-list__title {
      @include text-cut-multiline($wlc: 1);
    }
  }

  &__pagination {
    grid-column: 1 / -1;
    padding-top: 20px;
    padding-bottom: 5px;
  }

  &__title {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.4px;
    font-weight: 700;
  }
}

// news-grid
.news-grid {
  padding: 30px 32px 37px;

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 21px;
  }

  .news-card {
    &__link {
      display: block;
      cursor: pointer;

      &:hover {
        .news-card__title {
          text-decoration: underline;
        }
      }
    }

    &__thumb {
      aspect-ratio: 203 / 129;
      margin-bottom: 18px;
    }

    &__title {
      @include text-cut-multiline($wlc: 3);
      font-size: 18px;
      line-height: 24px;
      letter-spacing: -0.36px;
      font-weight: 700;
    }
  }
}

// popular-news
.popular-news {
  padding: 28px 30px 30px;

  &__banner {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__item {
    padding-bottom: 21px;
    margin-bottom: 20px;
    border-bottom: 1px solid #c9c9c9;

    &:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
    }
  }

  &__link {
    @include flex-pos($ai: center, $g: 15px);

    .popular-news__title {
      @include text-cut-multiline();

      &--line-three {
        -webkit-line-clamp: 3;
      }
    }
  }

  &__thumb {
    max-width: 124px;
    aspect-ratio: 124 / 79;
  }

  &__category {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.28px;
    color: #4285f4;
    font-weight: 700;
    margin-bottom: 7px;
  }

  &__title {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.3px;

    &--header {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.4px;
      margin-bottom: 27px;
    }
  }
}

// search-list
.search-list {
  padding: 38px 40px 50px;

  &__header {
    @include flex-pos($jc: space-between, $ai: flex-end);
    padding-bottom: 17px;
    margin-bottom: 30px;
    border-bottom: 1px solid #333;
  }

  &__sort {
    @include flex-pos($g: 20px);
  }

  &__sort-btn {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.32px;
    color: #bbb;

    &--active {
      color: #333;
    }
  }

  &__items {
    margin-bottom: 51px;
  }

  &__item {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__link {
    @include flex-pos($ai: center, $g: 20px);

    .search-list__title {
      @include text-cut-multiline($wlc: 1);
      margin-bottom: 15px;
    }
  }

  &__thumb {
    max-width: 190px;
    aspect-ratio: 190 / 120;
  }

  &__title {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.4px;
    font-weight: 700;

    &--header {
      font-size: 24px;
      line-height: 29px;
      letter-spacing: -0.48px;

      .search-list__count {
        margin-left: 14px;
      }
    }
  }

  &__count {
    display: inline-block;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.36px;
    color: #999;
    font-weight: 400;
  }

  &__desc {
    @include text-cut-multiline();
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: -0.3px;
    margin-bottom: 15px;

    .emphasis {
      font-weight: 700;
      color: #4285f4;
    }
  }

  &__info {
    @include flex-pos($jc: space-between, $ai: center, $g: 20px);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.28px;
    color: #666;
  }

  &__divider {
    color: #bfbfbf;
  }
}
