.news-page {
  background-color: #f4f6f8;
}
.news-page .container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  gap: 30px;
  flex-wrap: nowrap;
  padding: 31px 30px 130px;
}
.news-page__main, .news-page__sidebar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 30px;
  flex-wrap: nowrap;
}
.news-page__main {
  max-width: 940px;
  min-width: 0;
  flex: 3;
}
.news-page__sidebar {
  flex-shrink: 0;
  max-width: 335px;
  flex: 1;
}
.news-page__sidebar .headline-list {
  padding: 30px 21px;
}
.news-page__sidebar .headline-list__items {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 18px;
  flex-wrap: nowrap;
}
.news-page__sidebar .headline-list__item {
  max-width: 293px;
}
.news-page__sidebar .headline-list__thumb {
  aspect-ratio: 293/186;
  margin-bottom: 27px;
}
.news-page__sidebar .headline-list__title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: wrap;
  line-height: 27px;
}
.news-page__search-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  flex-wrap: nowrap;
  padding: 15px 40px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #4285f4;
  background-color: #fff;
}
.news-page__search-input-wrap {
  width: 100%;
}
.news-page__search-input {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.4px;
  width: 100%;
}
.news-page__btn .icon--search {
  width: 30px;
  height: 30px;
  background-image: url(../../icons/icon-glass-gray.png);
}

.hero-news,
.headline-list,
.news-grid,
.popular-news,
.search-list {
  border-radius: 10px;
  background-color: #fff;
}
.hero-news__link,
.headline-list__link,
.news-grid__link,
.popular-news__link,
.search-list__link {
  display: block;
  cursor: pointer;
}
.hero-news__link:hover .hero-news__title,
.hero-news__link:hover .headline-list__title,
.hero-news__link:hover .news-grid__title,
.hero-news__link:hover .popular-news__title,
.hero-news__link:hover .search-list__title,
.headline-list__link:hover .hero-news__title,
.headline-list__link:hover .headline-list__title,
.headline-list__link:hover .news-grid__title,
.headline-list__link:hover .popular-news__title,
.headline-list__link:hover .search-list__title,
.news-grid__link:hover .hero-news__title,
.news-grid__link:hover .headline-list__title,
.news-grid__link:hover .news-grid__title,
.news-grid__link:hover .popular-news__title,
.news-grid__link:hover .search-list__title,
.popular-news__link:hover .hero-news__title,
.popular-news__link:hover .headline-list__title,
.popular-news__link:hover .news-grid__title,
.popular-news__link:hover .popular-news__title,
.popular-news__link:hover .search-list__title,
.search-list__link:hover .hero-news__title,
.search-list__link:hover .headline-list__title,
.search-list__link:hover .news-grid__title,
.search-list__link:hover .popular-news__title,
.search-list__link:hover .search-list__title {
  text-decoration: underline;
}

.hero-news {
  padding: 31px 30px 50px;
  text-align: center;
}
.hero-news__thumb {
  aspect-ratio: 940/319;
  margin-bottom: 50px;
}
.hero-news__title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: wrap;
  font-size: 52px;
  line-height: 66px;
  letter-spacing: -1.04px;
  font-weight: 700;
  max-width: 600px;
  margin: 0 auto 20px;
}
.hero-news__desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.48px;
  color: #999;
}

.headline-list {
  display: grid;
  grid-template-columns: 315px minmax(0, 1fr);
  gap: 30px;
  padding: 31px 30px 42px;
}
.headline-list__left .headline-list__items {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 48px;
  flex-wrap: nowrap;
}
.headline-list__left .headline-list__item {
  max-width: 315px;
}
.headline-list__left .headline-list__thumb {
  aspect-ratio: 315/200;
  margin-bottom: 17px;
}
.headline-list__left .headline-list__title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: wrap;
  line-height: 27px;
}
.headline-list__right .headline-list__items {
  padding-top: 13px;
  width: 100%;
}
.headline-list__right .headline-list__item {
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid #c9c9c9;
}
.headline-list__right .headline-list__item:first-of-type {
  padding-top: 0;
}
.headline-list__right .headline-list__item:last-of-type {
  padding-bottom: 0;
  border: none;
}
.headline-list__right .headline-list__title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: wrap;
}
.headline-list__pagination {
  grid-column: 1/-1;
  padding-top: 20px;
  padding-bottom: 5px;
}
.headline-list__title {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.4px;
  font-weight: 700;
}

.news-grid {
  padding: 30px 32px 37px;
}
.news-grid__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 21px;
}
.news-grid .news-card__link {
  display: block;
  cursor: pointer;
}
.news-grid .news-card__link:hover .news-card__title {
  text-decoration: underline;
}
.news-grid .news-card__thumb {
  aspect-ratio: 203/129;
  margin-bottom: 18px;
}
.news-grid .news-card__title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: wrap;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.36px;
  font-weight: 700;
}

.popular-news {
  padding: 28px 30px 30px;
}
.popular-news__banner {
  margin-top: 20px;
  margin-bottom: 20px;
}
.popular-news__item {
  padding-bottom: 21px;
  margin-bottom: 20px;
  border-bottom: 1px solid #c9c9c9;
}
.popular-news__item:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.popular-news__link {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 15px;
  flex-wrap: nowrap;
}
.popular-news__link .popular-news__title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: wrap;
}
.popular-news__link .popular-news__title--line-three {
  -webkit-line-clamp: 3;
}
.popular-news__thumb {
  max-width: 124px;
  aspect-ratio: 124/79;
}
.popular-news__category {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.28px;
  color: #4285f4;
  font-weight: 700;
  margin-bottom: 7px;
}
.popular-news__title {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.3px;
}
.popular-news__title--header {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.4px;
  margin-bottom: 27px;
}

.search-list {
  padding: 38px 40px 50px;
}
.search-list__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: normal;
  flex-wrap: nowrap;
  padding-bottom: 17px;
  margin-bottom: 30px;
  border-bottom: 1px solid #333;
}
.search-list__sort {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  gap: 20px;
  flex-wrap: nowrap;
}
.search-list__sort-btn {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.32px;
  color: #bbb;
}
.search-list__sort-btn--active {
  color: #333;
}
.search-list__items {
  margin-bottom: 51px;
}
.search-list__item {
  margin-bottom: 20px;
}
.search-list__item:last-of-type {
  margin-bottom: 0;
}
.search-list__link {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
}
.search-list__link .search-list__title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: wrap;
  margin-bottom: 15px;
}
.search-list__thumb {
  max-width: 190px;
  aspect-ratio: 190/120;
}
.search-list__title {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.4px;
  font-weight: 700;
}
.search-list__title--header {
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.48px;
}
.search-list__title--header .search-list__count {
  margin-left: 14px;
}
.search-list__count {
  display: inline-block;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.36px;
  color: #999;
  font-weight: 400;
}
.search-list__desc {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: wrap;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.3px;
  margin-bottom: 15px;
}
.search-list__desc .emphasis {
  font-weight: 700;
  color: #4285f4;
}
.search-list__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.28px;
  color: #666;
}
.search-list__divider {
  color: #bfbfbf;
}